In [4]:
import pandas as pd

df = pd.read_csv(
    r"D:\OneDrive - 國立東華大學\code\5_School_Work\S4\compiler\HW2data.csv")


df['Score'] = df.loc[:, 'HW1'] * 0.1 + df.loc[:, 'HW2'] * 0.1 \
    + df.loc[:, 'HW3'] * 0.1 + df.loc[:, 'Midterm'] * \
    0.3 + df.loc[:, 'Final'] * 0.4
df['Score'] = round(df['Score'])
for i in range(len(df)):
    if 0 <= df.loc[df.index[i], 'Score'] < 50:
        df.loc[df.index[i], 'Grade'] = 'E'
    elif 50 <= df.loc[df.index[i], 'Score'] < 60:
        df.loc[df.index[i], 'Grade'] = 'D'
    elif 60 <= df.loc[df.index[i], 'Score'] < 63:
        df.loc[df.index[i], 'Grade'] = 'C-'
    elif 63 <= df.loc[df.index[i], 'Score'] < 67:
        df.loc[df.index[i], 'Grade'] = 'C'
    elif 67 <= df.loc[df.index[i], 'Score'] < 70:
        df.loc[df.index[i], 'Grade'] = 'C+'
    elif 70 <= df.loc[df.index[i], 'Score'] < 73:
        df.loc[df.index[i], 'Grade'] = 'B-'
    elif 73 <= df.loc[df.index[i], 'Score'] < 77:
        df.loc[df.index[i], 'Grade'] = 'B'
    elif 77 <= df.loc[df.index[i], 'Score'] < 80:
        df.loc[df.index[i], 'Grade'] = 'B+'
    elif 80 <= df.loc[df.index[i], 'Score'] < 85:
        df.loc[df.index[i], 'Grade'] = 'A-'
    elif 85 <= df.loc[df.index[i], 'Score'] < 90:
        df.loc[df.index[i], 'Grade'] = 'A'
    elif 90 <= df.loc[df.index[i], 'Score'] <= 100:
        df.loc[df.index[i], 'Grade'] = 'A+'
df.to_csv(r"D:\OneDrive - 國立東華大學\code\5_School_Work\S4\compiler\result_Python.csv", index=False)
df

   NO         ID    Name  HW1    HW2  HW3  Midterm  Final  Score Grade
0   1  410021001    Alan   90   84.5  117       60     66   74.0     B
1   2  410021002     Bob   85   49.0   80       57     64   64.0     C
2   3  410021003  Carrie   90  110.5  117       68     62   77.0    B+
3   4  410021004   David  117   85.0    0       44     55   55.0     D
4   5  410021005   Ethan   85   56.0   50       57     67   63.0     C
5   6  410021006   Frank   90   65.0   65       72     66   70.0    B-
6   7  410021007    Gary  117  110.5   65       69     43   67.0    C+
7   8  410021008   Helen  117   65.0   50       43     54   58.0     D
8   9  410021009    Igor   63   59.5   50       51     75   63.0     C
9  10  410021010    Jeff  117  110.5  117       53     75   80.0    A-