In [77]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

url = 'https://www.airbnb.com.tw/s/%E6%8B%89%E6%96%AF%E7%B6%AD%E5%8A%A0%E6%96%AF/homes?adults=2&checkin=2022-06-20&checkout=2022-06-21&date_picker_type=calendar&flexible_trip_dates%5B%5D=april&flexible_trip_dates%5B%5D=may&flexible_trip_lengths%5B%5D=weekend_trip&languages%5B%5D=1&languages%5B%5D=128&min_bathrooms=1&min_bedrooms=1&min_beds=1&price_max=2000&price_min=1700&query=%E7%BE%8E%E5%9C%8B%E5%85%A7%E8%8F%AF%E9%81%94%E5%B7%9E%E6%8B%89%E6%96%AF%E7%B6%AD%E5%8A%A0%E6%96%AF&refinement_paths%5B%5D=%2Fhomes&room_types%5B%5D=Private+room&search_type=filter_change&source=structured_search_input_header&superhost=true&tab_id=home_tab'
html = requests.get(url)
sp = BeautifulSoup(html.text, 'html.parser')

bs_set_rating= sp.find_all(class_="rpz7y38", limit=10)
bs_set_price= sp.find_all(class_="_tyxjp1", limit=10)

rating = []
price = []
for i, j in zip(bs_set_rating, bs_set_price):
    rating += [float(i.text)]
    price += [int(''.join(re.findall(r'\d+', j.text)))]


df = pd.DataFrame({'rating':rating, 'price':price})
df.sort_values(by=['rating', 'price'], ascending=[0, 1], ignore_index=True, inplace=True)
df

   rating  price
0    4.99   1737
1    4.98   1904
2    4.94   1737
3    4.93   1904
4    4.92   1870
5    4.90   1780
6    4.87   1969
7    4.86   1839
8    4.83   1866
9    4.65   1725